#mainPanel{
    padding-top: 3%
}

#menu{
    padding: 3% 0% 3% 3%

}

.selectedItem{
    background-color: #D9D9D9;
    color: #403540 !important;
}

#contentPanel{
    background-color: #D9D9D9;
    margin: 0% 3% 3% 0%;
    border-radius: 0% 1% 1% 1%;
    height: 100%;
    min-height: 250px;
}

.btn-detail, .btn-pendent, .btn-old{
    border-color: #403540 !important;
}

.btn-detail:hover, .btn-pendent:hover, .btn-old:hover{
    background-color: #403540 !important;
    border-color: #403540 !important;
    color: #D9D9D9 !important;
}

#navTabs{
    margin: 2% 2% 0% 2%;
}

#navTabs a{
    background-color: #403540;
    border-color: #D9D9D9;
}
#navTabs a.active{
    background-color: #594F59;
    border-color: #594F59;

}

img{
    padding: 2% 2% 2% 0%;
}

h4{
    padding: 2% 2% 2% 0%
}

.form-container{

    padding-bottom: 8%;
}

.del-col{
    padding-top: 10%;
}
