.div-collection{
    background-color: #594F59;
    margin-bottom: 15%;
}

#pageTitle{
    margin-bottom: 8%
}

.title{
    color: black !important;
}

img{
    padding: 4%;
    height:200px;
}

a:hover{
    text-decoration: none !important;
}

h5{
    padding: 0% 4% 4% 4%;
    
}
