#main {
    height: 100%;
}

#navbarNav{
    margin-bottom: 0px !important;
}

.wrapper-h1{
    padding-top: 15%
}

h1{
    font-family: 'Lora', 'Serif';
    color: black;
    border: 4px solid black;
    padding: 20px;
}








