html, body{
    height: 100%;
}

#main {
    background-color:#403540;
    color: #D9D9D9 !important;
    font-family: 'Work Sans', 'sans-serif';
    display: block;
    overflow: auto;
    height: 100%;
}

#navbarNav{
    margin-bottom: 3%;
}

a{
    color: #D9D9D9 !important;
}

a:hover{
    color: #BFBDBE !important
}

a.selected{
    border-bottom: 2px solid black;
}

.navbar-toggler{
    border: 1px solid black !important
}

.div-container{
    width: 100%;
    background-color: #594F59;
    margin: 5%;
}

form{
    padding:3%;
}

.btn-primary{
    background-color: #D9D9D9 !important;
    color: #594F59 !important;
    border: #D9D9D9 !important
}

.alert-danger a{
    color: #721c24 !important;
    font-weight: bold;
}