h3{
    padding-bottom: 5%;
}

img{
    padding: 3% 3% 3% 0% 
}

#back-col{
    text-align: end;
}

.artRow{
    padding-bottom: 3%;
}

.colDel{
    text-align: end;
}

.form-container{
    border-bottom: 2px solid #D9D9D9;
    margin-bottom: 3%;
}